* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    /* Smooth scrolling scroll suave */
}

:root {
    --primary-color: #122079;
    --secondary-color: #224983;
    --escuro: #0f172a;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    background: rgba(15, 23, 42, 0.8);
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 0;
    position: relative;
}

.menu-link::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

/* MAIN */

.foto-perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(19, 78, 204, 0.5);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    margin: 100px 0 40px 0;
    animation: flutuar 3s ease-in-out infinite;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    color: var(--primary-color);
    font-weight: bold;
    margin: 20px 0;
}

.cabecalho-subtitulo {
    font-size: 1.25rem;
    color: var(--claro);
}

/* Campo Sobre */

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    /* Efeito de vidro fosco */
    background: rgba(255, 255, 255, 0.05);
}

.sobre-p {
    text-align: center;
    font-size: 1.25rem;
}

/* Campo Projetos */

.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}


.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    /* Garante que o conteúdo do card não ultrapasse os limites do card */
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.05);
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
    /* Garante que a imagem preencha o card sem distorção */
}

.p-projetos {
    color: rgba(226, 232, 240, 0.7);
    line-height: 1.2rem;
}

.info-projetos {
    margin-bottom: 5px;
}

.caixa-texto-projetos {
    padding: 1.5rem;
}

/* Campo Contato */

.contato {
    padding: 6rem 2rem;
}

.contato-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(10px);
    padding: 2rem;
}


.campo-form, .text-form {
    width: 100%;
    color: whitesmoke;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border: 1px solid var(--vidro);
    outline: none;
}

textarea {
    height: 200px;
}

.campo-form:focus, .text-form:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

.botao-form {
    color: var(--claro);
    width: 100%;
    font-weight: bolder;
    font-size: 1rem;
    background: linear-gradient(45deg, var(--primary-color), #173aac);
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:  
    radial-gradient(circle at 10% 20%, #2907a3 0%, transparent 20%),
    radial-gradient(circle at 90% 80%, var(--secondary-color) 0%, transparent 20%), #01091b;
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}
/* Footer  */

footer {
    text-align: center;
    padding: 3rem;
    background-color: rgba(15, 23, 42, 0.8);
    color: var(--claro);
    bottom: 0;
    width: 100%;
}

.icons-social {
    margin-top: 1rem;
}

.icons-social a {
    color: var(--claro);
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.icons-social a:hover {
    color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
    padding: 0.6rem;
    border-radius: 20px;
}

.voltar-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--claro);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .menu {
        /* flex-direction: column; */
        gap: 1.4rem;
    }

    .foto-perfil {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .sobre-titulo, .projetos-titulo, .contato-titulo {
        font-size: 2rem;
    }
}